<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWOts48oxHIaPaUrZFi4cyQD27zI6jOlc</string>
	<key>GCM_SENDER_ID</key>
	<string>665213402376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testnetapp1</string>
	<key>PROJECT_ID</key>
	<string>networkpt-7c209</string>
	<key>STORAGE_BUCKET</key>
	<string>networkpt-7c209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665213402376:ios:7e457ecdfc2f58dbe840bd</string>
</dict>
</plist>