<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDOKhV_JX-f4ShpYewlpK2m8zKfKATA2g</string>
	<key>GCM_SENDER_ID</key>
	<string>2905567075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.v2stech.networking.rmbsobo</string>
	<key>PROJECT_ID</key>
	<string>rmb-sobo</string>
	<key>STORAGE_BUCKET</key>
	<string>rmb-sobo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2905567075:ios:a36f9b615c551f39e1ad56</string>
</dict>
</plist>